<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="" alt="Image" data-thumbnail>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <a class="has-text-link" href="" target="_blank" data-subject></a>
        <p class="text-overflow" data-content></p>
        <strong data-author></strong> <small data-corp></small> <small data-datetime></small>
      </div>
    </div>
  </article>
</div>